* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}


.section {
    padding-top: 96px;
    padding-bottom: 96px;
}


.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.section-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/* ---------HEADER---------- */


.header {
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #E7E9FC;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo .active {
    color: #2e2f42;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: auto;
}


.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.header-line {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-link.header-line::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link.header-line {
    color: #404bbf;
}

.header-contacts {
    margin-left: auto;
}

.header-contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}



/* ---------HERO---------- */



.main-hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url("../images/main-bg-mob.jpg");
    padding: 72px 0 72px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;

    @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/main-bg-mob-2x.jpg");
    }
}

.main-hero-title {
    color: #ffffff;
    margin: 0 auto 72px;
    width: 216px;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}



/* ---------MISSION---------- */




.mission-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 72px;
}

.mission-item {
   width: 100%;
}

.mission-item-wrap {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
}

.mission-icon {
    width: 264px;
    height: 112px;
    padding: 24px 100px;
}

.mission-title {
    color: #2e2f42;
}

.mission-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.mission-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}


/* ---------TEAM---------- */


.team {
    background-color: #F4F4FD;
}

.team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item:hover {
    background-color: #FCFCFC;
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-item {
    width: 40px;
    height: 40px;

}

.team-icon {
    fill: #f4f4fd;
}

.team-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
    background-color: #404BBF;
}

.team-list {
    display: flex;
    gap: 72px;
    /* gap: 24px; */
    justify-content: center;
    flex-wrap: wrap;
}

.team-info {
    padding: 32px 0
}

.team-title {
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-subtitle {
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}



/* ---------PORTFOLIO---------- */

.portfolio-title {
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    justify-content: center;
    /* column-gap: 24px;
    row-gap: 48px; */
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item {
    /* width: calc((100% - 2 * 24px) /3); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images {
    width: auto;
    height: 280px;
}

.portfolio-item:hover .portfolio-item-text {
    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.portfolio-item-cover {
    position: relative;
    overflow: hidden;
}

.portfolio-item-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4D5AE5;
    color: #f4f4fd;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-subtitle {
    color: #2e2f42;
    margin-bottom: 8px;
}


.portfolio-text {
    color: #434455;
}


/* ---------FOOTER---------- */


.footer {
    background-color: #2e2f42;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
}

.footer-about {
    margin-bottom: 72px;
}

.footer-link {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.footer-link .active {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    max-width: 264px;
    text-align: left;
}

.footer-social {
    max-width: 280px;
    margin-bottom: 72px;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
}

.social-links-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-links-item {
    width: 40px;
    height: 40px;
}

.icon-link {
    display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color: #31D0AA;
}

.footer-icon {
    fill: #f4f4fd;
}

.sub-text {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 16px;
    /* gap: 24px; */
}

.subscription {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* width: 453px;
    height: 80px; */
    /* margin-left: 80px; */

}


.sub-input {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-left: 16px;
    background-color: transparent;
    outline: none;
    border: 1px solid #ffffff;
        border-radius: 4px;
        /* width: 264px; */
        width: 100%;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.sub-input::placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        
}

.sub-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 16px;
    border-radius: 4px;
        width: 165px;
        height: 40px;
        background-color: #4d5ae5;
        color: #ffffff;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            border: none;
}

.send-icon {
    fill: #ffffff;
}
/* ---------MODAL---------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #e7e9fc;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 16px;
        max-width: 360px;

}



.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    padding-right: 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}

.modal-textarea {
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
    height: 120px;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);        
    font-size: 12px;
        padding: 8px 16px;
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        

}

.modal-label-input {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-field {
    margin-bottom: 8px;
}

.comment-field {
    margin-bottom: 16px;
}

.input-wrapper {
    position: relative;
    margin-bottom: 16px;
}

.modal-checkbox {
    margin-bottom: 24px;
}

.modal-check:checked + .modal-label-checkbox > .modal-check-box {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal-label-checkbox {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        align-items: center;

    a {
        line-height: 1.33;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #4d5ae5;
    }
}

.modal-check-box {
    display: inline-flex;
        align-items: center;
        justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    background-color: transparent;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
    color: #4d5ae5;
}

.modal-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    display: block;
    margin: 24px auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .main-hero {
        padding: 112 px 0 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/main-bg-tab.jpg");

        @media screen and (min-resolution: 2x),
            (-webkit-min-device-pixel-ratio: 2) {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/main-bg-tab-2x.jpg");
            }
    }

    .main-hero-title {
        font-size: 56px;
        margin: 0 auto 36px;
        line-height: 1.07;
        width: 496px;
    }


    .mission-list {
        row-gap: 72px;
        column-gap: 24px;
    }

    .mission-item {
        width: calc((100% - 24px) / 2);
    }

    .mission-subtitle {
        text-align: left;
    }

    .team > .container {
        width: 584px;
    }

    .team-list {
        row-gap: 64px;
        column-gap: 24px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }
    
    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
    }
        
    .portfolio-item {
        width: calc((100% - 24px) /2);
    }

    .portfolio-images {
        width: 356px;
        height: 300px;
    }

    .portfolio-subtitle {
        text-align: left;
    }

    .portfolio-text {
        text-align: left;
    }

    .footer > .container {
        width: 528px;
    }

    .footer-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
    }

    .footer-link {
        justify-content: left;
    }

    .footer-subtitle {
        text-align: left;
    }

    .subscription {
        align-items: flex-start;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
    }

    .sub-input {
        width: 264px;
    }


}

@media screen and (min-width: 1158px) {
    .container, .team>.container {
        width: 1158px; 
        padding-left: 15px;
        padding-right: 15px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .main-hero {
        padding: 188px 0 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office-1.jpg");
        
        @media screen and (min-resolution: 2x),
            (-webkit-min-device-pixel-ratio: 2) {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/main-bg-2x.jpg");
            }
    }

    .main-hero-title {
        margin: 0 auto 48px;
    }

    .mission-list {
        gap: 24px;
    }

    .mission-item {
        width: calc((100% - 72px) / 4);
    }

    .mission-item-wrap {
        display: flex;
    }

    .mission-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .mission-text{
        font-weight: 400;
    }

    .team-list {
        gap: 24px;
    }

    .team-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .portfolio-list {
        column-gap: 24px;
            row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 2 * 24px) /3);
    }
    
    .portfolio-images {
        width: 360px;
        height: 300px;
    }

    .container, .footer>.container {
            width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
    }

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-wrapper {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
    }

    .footer-about {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .footer-link {
        display: inline-block;
    }

    .sub-text {
        display: inline-block;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
    }

    .footer-text {
        width: 264px;
    }

    .footer-social {
        margin-bottom: 0;
        margin-right: 80px;
    }
}